@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('städjan.jpeg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Quicksand', Helvetica, sans-serif;
}